 html {
    height: 100%;
    
    

    
  }
  body{
    
    height:100%;
    
   
   
  }
  
  
  
  .bg-image {
   
    background-image: url("task.jpeg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .add {
    text-align: center;
   
    /* bottom: 500px; */
    /* left: 10px; */
    background-color: white;
    border: tomato 2px solid;
    border-radius: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: tomato;
    /* margin-left: 430px; */
    /* margin-right: 430px; */
    /* margin-top: -35px; */
    /* padding-bottom: 55px; */
    /* position: relative; */
    /* left: 20px; */
    box-shadow: silver 8px 8px 10px;
   
    height: 240px;
    width: 450px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    
    
    /*margin: 0px auto;*/
    /*width: 50%;*/
    /* vertical-align: middle; */
    /*top: 33%;*/
    /*left: 30%;*/
   /* bottom: 10%;*/
     
  }
  #submit
  {
    color: white;
    background-color:tomato ;
    width: 110px;
    height:40px;
    border:tomato 2px solid;
    border-radius: 50px;
    font-size: 28px;
    position:relative;
    top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #text
  {
    width:330px;
    height: 40px;
    border:tomato 2px solid;
    border-radius: 5px;
    position: relative;
    top:30px;
  }
  #list
  {
    position:relative;
    top: 20px;
    
  }
  